.dashboard-container{
    width: 80%;
    background: #161925;
    margin: auto;
    color: #037fff;
    box-shadow: 10px 10px 100px black;
}

.dashboard-container .row{
    padding: 20px;
    display: flex;
}

.dashboard-container .row .card{
    width: 50%;
    margin: 10px;
    background: #1a4570;
    border-radius: 20px;
    height: 10rem;
    text-align: center;
    padding: 10px;
}

.dashboard-container .row .card .total-heading{
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.dashboard-container .row .card .total-value{
    font-size: 1.8rem;
}